<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="norm/base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>

<section>
    
    <h1>this is password-reset page</h1>
  
     <form th:action="send-otp">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                 
           <button type="submit" class="btn btn-success">Send otp</button>
           <h2 th:text="${msg}">ok</h2>
  </div>
 
 
 
  </form>
  
  </section>  